* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

nav {
    background: lightgray;
    height: 5rem;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

